<div class="titleBreak">
  <h2><span>Classes</span></h2>
	<!--<input id="class_name" placeholder="Class Name"></li>	
	<button id="add_class_button">Add Class</button>!-->
</div>
<table id="classes" style="width:100%;">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Sources
			</th>
			<th>
				Snatches
			</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table><!--
<h3><span>Top 10 Downloaded Classes this Day</span></h3>
<table id="classes_top" style="width:100%">
	<thead>
		<tr>
			<th>
				Name
			</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>!-->