<a href="#" id="mobile_menu">≡</a>
	<!--<a href="#torrents" class="TEMPLAR torrents"></a>!-->

<h1><a class="TEMPLAR sources" href="#">propagate.info</a></h1>

<div class="mobile_menu">	
	<div class="search">
		<ul id="search_ul"> 
			<li class="search_sources"><input id="search_sources_mobile" class="searchField search_sources_input" placeholder="Title"><ul class="autosuggestBox"></ul></li>
			<li class="search_authors"><input id="search_authors_mobile" class="searchField search_authors_input" placeholder="Authors"><ul class="autosuggestBox"></ul></li>
			<li class="search_classes"><input id ="search_classes_mobile" class="searchField search_classes_input" placeholder="Classes"><ul class="autosuggestBox"></ul></li>
			<li class="search_publisher"><input id="search_publishers_mobile" class="searchField search_publishers_input" placeholder="Publishers"><ul class="autosuggestBox"></ul></li>

		</ul>
	</div>
	<br>
	<br>
	<br>
	<ul class="mobile_tabs">
			<li><a href="#torrents" class="TEMPLAR torrents">Torrents</a></li>
			<li><a href="#set?ward=authors" class="TEMPLAR set authors">Authors</a></li>
			<li><a href="#set?ward=classes" class="TEMPLAR set classes">Classes</a></li>
			<li><a href="#set?ward=publishers" class="TEMPLAR set publishers">Publishers</a></li>			
			<li><a href="#top10" class="TEMPLAR top10">Top 10</a></li>
	</ul><br>
	<ul class="mobile_panel">
		<li><a class="TEMPLAR mission" href="#mission">Mission</a></li>
		<li><a class="TEMPLAR privacy" href="#privacy">Privacy</a></li>
		<li ><a class="DMCA" href="#">DMCA</a></li>
		<li><a class="TEMPLAR upload" href="#upload">Upload</a></li>	
		<!--<li><a class="TEMPLAR mission" href="#mission">Mission Statement</a></li>!-->
		<li><a class="git" href="https://github.com/IngloriousNorth/Platonopolis" target="_blank">GitHub</a></li>	
	</ul>
</div>
	
<div class="panel">
	<ul>
		<li><a class="TEMPLAR mission" href="#mission">Mission</a></li>
		<li><a class="TEMPLAR privacy" href="#privacy">Privacy</a></li>
		<li ><a class="DMCA" href="#">DMCA</a></li>
		<li><a class="TEMPLAR upload" href="#upload">Upload</a></li>

		<!--<li><a class="TEMPLAR webtorrent_seeding" href="#webtorrent_seeding">WebTorrent Seeding</a></li>!-->	
		
		<!--<li><a class="TEMPLAR mission" href="#mission">Mission Statement</a></li>!-->	
		<li><a class="git" href="https://github.com/IngloriousNorth/Platonopolis" target="_blank">GitHub</a></li>
	</ul>
</div>
<div id="header_stream">
	<div class="tabs">	
		<ul class="tabs">
				<li><a href="#torrents" class="TEMPLAR torrents">Torrents</a></li>
				<li><a href="#set?ward=authors" class="TEMPLAR set authors">Authors</a></li>
				<li><a href="#set?ward=classes" class="TEMPLAR set classes">Classes</a></li>
				<li><a href="#set?ward=publishers" class="TEMPLAR set publishers">Publishers</a></li>			<!--!-->
				<li><a href="#top10" class="TEMPLAR top10">Top 10</a></li>	
		</ul>
	</div>
	<div class="search desktop_search">
		<ul id="search_ul"> 
			<li class="search_sources"><input id="search_sources" class="searchField search_sources_input" placeholder="Titles"><ul class="autosuggestBox"></ul></li>
				<li class="search_authors"><input id="search_authors" class="searchField search_authors_input" placeholder="Authors"><ul class="autosuggestBox"></ul></li>
				<li class="search_classes"><input id="search_classes" class="searchField search_classes_input" placeholder="Classes"><ul class="autosuggestBox"></ul></li>
				<li class="search_publisher"><input id="search_publishers" class="searchField search_publishers_input" placeholder="Publishers"><ul class="autosuggestBox"></ul></li>
		</ul>
	</div>
	

	
</div>

<script>
	$(".DMCA").on("click", function(e){
	e.preventDefault();
	alert("This website is intended for the free distribution and redundant ownership of public domain media, and uses BitTorrent technology, allowing for user uploads. Only media uploaded with the publisher's express permission, or public domain torrents published before 1931, are allowed on propagate.info. Freely available Media found on U.S. University or U.S. government websites or the InternetArchive may also be uploaded here, regardless of publication date. Please send DMCA complaints, preferrably including the torrent infoHash of allegedly infringing content, to: ingloriousnorth@gmail.com, and the torrent infoHash will be set to 'deleted' and hidden from all users upon prompt review. Note that while propagate.info will no longer publicly index your file, this will not remove peers from the swarm, what is the nature of BitTorrent technology.")
})
</script>