<a href="#" id="mobile_menu">≡</a>
	<!--<a href="#torrents" class="TEMPLAR torrents"></a>!-->
<h1><a class="TEMPLAR titles" href="#">propagate.info</a></h1>

<div class="mobile_menu">	
	<div class="search">
		<ul id="search_ul"> 
			<li class="search_sources"><input id="search_sources_mobile" class="searchField search_sources_input" placeholder="Titles"><ul class="autosuggestBox"></ul></li>
			<li class="search_authors"><input id="search_authors_mobile" class="searchField search_authors_input" placeholder="Authors"><ul class="autosuggestBox"></ul></li>
			<li class="search_classes"><input id ="search_classes_mobile" class="searchField search_classes_input" placeholder="Classes"><ul class="autosuggestBox"></ul></li>
			<li class="search_publisher"><input id="search_publishers_mobile" class="searchField search_publishers_input" placeholder="Publishers"><ul class="autosuggestBox"></ul></li>

		</ul>
	</div>
	<br>
	<br>
	<br>
	<ul class="mobile_tabs">
			<li><a href="#titles" class="TEMPLAR titles">Titles</a></li>
			<li><a href="#set?ward=authors" class="TEMPLAR set">Authors</a></li>
			<li><a href="#set?ward=classes" class="TEMPLAR set">Classes</a></li>
			<li><a href="#set?ward=publishers" class="TEMPLAR set ">Publishers</a></li>			
			<li><a href="#top10" class="TEMPLAR top10">Top 10</a></li>
	</ul><br>
	<ul class="mobile_panel">
		<li><a class="TEMPLAR upload" href="#upload">Upload</a></li>
		<li><a class="git" href="https://github.com/Selapian/Gazelle-WebTorrent" target="_blank">GitHub</a></li>
		<li ><a class="DMCA" href="#">DMCA</a></li>
	</ul>
</div>
	
<div class="panel">
	<ul>
		<li><a class="TEMPLAR upload" href="#upload">Upload</a></li>
		<li><a class="git" href="https://github.com/Selapian/Gazelle-WebTorrent" target="_blank">GitHub</a></li>	
		<li ><a class="DMCA" href="#">DMCA</a></li>
	</ul>
</div>
<div id="header_stream">
	<div class="tabs">	
		<ul class="tabs">
				<li><a href="#titles" class="TEMPLAR titles">Titles</a></li>
				<li><a href="#set?ward=authors" class="TEMPLAR set">Authors</a></li>
				<li><a href="#set?ward=classes" class="TEMPLAR set">Classes</a></li>
				<li><a href="#set?ward=publishers" class="TEMPLAR set ">Publishers</a></li>			<!--!-->
				<li><a href="#top10" class="TEMPLAR top10">Top 10</a></li>	
		</ul>
	</div>

	<div class="search desktop_search">
		<ul id="search_ul"> 
			<li class="search_sources"><input id="search_sources" class="searchField search_sources_input" placeholder="Titles"><ul class="autosuggestBox"></ul></li>
				<li class="search_authors"><input id="search_authors" class="searchField search_authors_input" placeholder="Authors"><ul class="autosuggestBox"></ul></li>
				<li class="search_classes"><input id="search_classes" class="searchField search_classes_input" placeholder="Classes"><ul class="autosuggestBox"></ul></li>
				<li class="search_publisher"><input id="search_publishers" class="searchField search_publishers_input" placeholder="Publishers"><ul class="autosuggestBox"></ul></li>
		</ul>
	</div>
</div>

<script>
	$(".DMCA").click(function(e){
		e.preventDefault();
		alert("Send DMCA complaints to: inevitableambrosia@gmail.com. Please note that what we archive and seed are PDFs and audiobooks that show up on the first few pages of a Google™ search. (The code is Open Source, and this Silo acts as a PDF/mp3 'SEARCH WRAPPER' for the Google™ Search Engine.)")
	})

</script>