<a href="#" id="mobile_menu">≡</a>
	<!--<a href="#torrents" class="ANCHOR torrents"></a>!--><img id="stupa" src="client/VIEW/logos.png">

<div class="mobile_menu">	
	<div class="search">
		<ul id="search_ul"> 
			<li class="search_sources"><input class="searchField search_sources_input" placeholder="Titles"><ul class="autosuggestBox"></ul></li>
			<li class="search_authors"><input class="searchField search_authors_input" placeholder="Authors"><ul class="autosuggestBox"></ul></li>
			<li class="search_classes"><input class="searchField search_classes_input" placeholder="Classes"><ul class="autosuggestBox"></ul></li>
			<li class="search_publisher"><input class="searchField search_publishers_input" placeholder="Publisher"><ul class="autosuggestBox"></ul></li>

		</ul>
	</div>
	<br>
	<br>
	<br>
	<ul class="mobile_tabs">
			<li><a href="#titles" class="ANCHOR titles headerTab torrentTab">Titles</a></li>
			<li><a href="#authors" class="ANCHOR authors headerTab authorsTab">Authors</a></li>
			<li><a href="#classes" class="ANCHOR classes headerTab classesTab">Classes</a></li>
			<li><a href="#publishers" class="ANCHOR publishers headerTab publishersTab">Publishers</a></li>			
			<li><a href="#top10" class="ANCHOR top10 headerTab top10Tab">Top 10</a></li>

    

			<!--<li><a href="#world_spirit" class="ANCHOR world_spirit headerTab worldSpiritTab">Forum</a></li>!-->
	</ul><br>
	<ul class="mobile_panel">
		<li id="magnetURI"><a href="magnet:?xt=urn:btih:2f5847f71c1f2baf143830dea0c7316d72dbe8c6&dn=SolomonsHouse&tr=wss%3A%2F%2Ftracker.openwebtorrent.com%2Fannounce&tr=wss%3A%2F%2Ftracker.btorrent.xyz%2Fannounce&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.empire-js.us%3A1337%2Fannounce&tr=udp%3A%2F%2Fexplodie.org%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tag=ebooks&tag=audibooks">magnetURI</a></li>
		<li id="webtorrent"><a href="https://www.webtorrent.io" target="_blank">(How to Seed)</a></li>
		<li ><a class="DMCA" href="#">DMCA</a></li>
	</ul>
</div>
	
<div class="panel">
	<ul>
		<li id="magnetURI"><a href="magnet:?xt=urn:btih:2f5847f71c1f2baf143830dea0c7316d72dbe8c6&dn=SolomonsHouse&tr=wss%3A%2F%2Ftracker.openwebtorrent.com%2Fannounce&tr=wss%3A%2F%2Ftracker.btorrent.xyz%2Fannounce&tr=udp%3A%2F%2Ftracker.leechers-paradise.org%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.empire-js.us%3A1337%2Fannounce&tr=udp%3A%2F%2Fexplodie.org%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tag=ebooks&tag=audibooks">magnetURI</a></li>
		<li id="webtorrent"><a href="https://www.webtorrent.io" target="_blank">(How to Seed)</a></li>
		<li ><a class="DMCA" href="#">DMCA</a></li>
	</ul>
</div>
<div class="tabs">
	<ul>
		<li><a href="#titles" class="ANCHOR titles headerTab torrentTab">Titles</a></li>
    
		
		<li><a href="#authors" class="ANCHOR authors headerTab authorsTab">Authors</a></li>

		<li><a href="#classes" class="ANCHOR classes headerTab classesTab">Classes</a></li>
		<li><a href="#publishers" class="ANCHOR publishers headerTab publishersTab">Publishers</a></li>
		<li><a href="#top10" class="ANCHOR top10 headerTab top10Tab">Top 10</a></li>
		<!--<li><a href="#world_spirit" class="ANCHOR world_spirit headerTab worldSpiritTab">Forum</a></li>!-->
		<!--<li><a href="#graph" class="ANCHOR graph headerTab graphTab">VR Graph</a></li>!-->

		
	</ul>
</div>

<div class="search desktop_search">
	<ul id="search_ul"> 
		<li class="search_sources"><input class="searchField search_sources_input" placeholder="Titles"><ul class="autosuggestBox"></ul></li>
			<li class="search_authors"><input class="searchField search_authors_input" placeholder="Authors"><ul class="autosuggestBox"></ul></li>
			<li class="search_classes"><input class="searchField search_classes_input" placeholder="Classes"><ul class="autosuggestBox"></ul></li>
			<li class="search_publisher"><input class="searchField search_publishers_input" placeholder="Publishers"><ul class="autosuggestBox"></ul></li>
	</ul>
</div>