<div class="titleBreak">
  <h2 id="publisherTitle"><span>Publisher</span></h2>
 
	<!--<div class="add_source">
		<input placeholder="Source uuid" id="source_uuid">
		<button id="add_source">Add Source</button>
	</div>!-->
</div>
<button class="graph_button" id="publisher_button">Graph Search</button>
<!--<p id="propagate_publisher">
	To self-publish your own Ebook, Audiobook, Classical Music, or Documentary, set the Publisher of your torrent to "propagate.info" under Edition Information on the Uploads page.
</p>!-->

<div class="partial_graph">
 
  <div id="publisher_g">
  </div>
</div>
<table width="100%" id="publisher">
	<thead>
		<tr>
			<th>Source / Date / Author</th> <!--hidden column header !-->
			<th>APA Citation</th> <!--edition !-->     
			<th>Revs</th>
      		<th>Date</th>
			<th>Time</th>
			<th class="none torrents"></th> <!-- hidden responsive + !-->
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>


