<div class="titleBreak">
	<h2 id="sourceTitle"><span>Source</span></h2>
 
</div>
<br>
<button  id="recommend_source" class="recommend">Warp</button>

<div class="partial_graph"> 
  <div id="source_g">
  </div>
</div>
<table width="100%" id="source">
	<thead>
		<tr>
			<th>Source / Date / Author</th> <!--hidden column header !-->
			<th>APA Citation</th> <!--edition !-->
			<th>Revs</th>
      		<th>Date</th>
			<th>Time</th>
			<th class="none torrents"></th> <!-- hidden responsive + !-->
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
